body {
    font-family: sans-serif;
    background-color: black;
    display: block;
}

header {
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: black;
    display: flex;
}

header img {
    width:100px;
    height:90px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: black;
    width: 400px;
}

.article-but {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 200px 10px 75px; 
}

footer h1 {
    background-color: Grey;    
    color: white;
    display: flex;    
}

h2 {
    color:white;
}

p {
    color: white;
}

.nav-link:hover {
    color: brown;
}

.article-but:hover {
    background-color: brown;
    color: black;
}


header h1 {
    margin-right: 900px;
}
