body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    background-color: black;
    display: flex;
   
}
header img {
    width:90px;
    height:90px;
}
header h1 {
      float: right;
}


nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
        display: flex;

}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
        display: flex;

}

article {
    background-color: black;
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 200px 10px 75px;
    
}

footer h1 {
    background-color: Grey;    
    color: white;
    display: flex;    
}




h2 {
    color:white;
}
p {
    color: white;
}

